<%- include('../partials/header'); -%>

    <div class="row">
        <div class="container">
            <div class="col-lg-12">
                <h1>Our Product</h1>
            </div>
        </div>
    </div>

        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h4><b>Specs 1: </b>
                        <%= product.Specs1 %>
                    </h4>
                    <h4><b>Specs 2: </b>
                        <%=product.Specs2 %>
                    </h4>
                    <h4><b>Specs 3: </b>
                        <%=product.Specs3%>
                    </h4>
                    <h4><b>Price: </b>
                        <%=product.Price %>
                    </h4>
                    <h4><b>Remarks: </b>
                        <%=product.Remarks %>
                    </h4>
                    <h4><b>FirstAntsContact: </b>
                        <%=product.FirstAntsContact %>
                    </h4>
                    <h4><b>ContactNumber: </b>
                        <%=product.ContactNumber %>
                    </h4>
                    <h4><b>CustomerEmail: </b>
                        <%=product.CustomerEmail %>
                    </h4>
                    <h4><b>CompanyBranch: </b>
                        <%=product.CompanyBranch %>
                    </h4>
                    <h4><b>InformDate: </b>
                        <%=product.InformDate %>
                    </h4>
                    <h4><b>DispatchDate: </b>
                        <%=product.DispatchDate %>
                    </h4>
                    <h4><b>POdate: </b>
                        <%=product.POdate %>
                    </h4>
                    <h4><b>OrderId: </b>
                        <%=product.order_id %>
                    </h4>
                    <h4><b>InstituteOrCompany: </b>
                        <%=product.InstituteOrCompany %>
                    </h4>
                    <h4><b>CustomerCategory: </b>
                        <%=product.CustomerCategory%>
                    </h4>
                    <h4><b>Contactperson: </b>
                        <%=product.Contactperson %>
                    </h4>
                    <h4><b>Department: </b>
                        <%=product.Department %>
                    </h4>
                    <h4><b>Item: </b>
                        <%=product.Item %>
                    </h4>

                </div>
            </header>
            <a href="/">Go Back</a>

        </div>
       





<%- include('../partials/footer'); -%>